@page
@model IndexModel
@{
    ViewData["Title"] = "Stopford Tech Test";
}

<div class="text-center">
    <h1 class="display-4">Stopford Tech Test</h1>
    <p>The idea of this test is to add a rating column to a film listing, which is read in from a csv file</p>
</div>
